.orders-section {
    margin: 0 auto;
    width: 80%;
  }
  
  table {
    background-color: #fff;
    border-collapse: collapse;
  }
  
  table th, table td {
    padding: 10px;
  }
  
  h3 {
    font-weight: bold;
  }
  