<div class="order-finalized-container">
    <h2 class="text-center">Dziękujemy za zamówienie!</h2>
    <p class="text-center">Twoje zamówienie zostało złożone pomyślnie.</p>

    <div class="order-summary">
        <h3>Podsumowanie zamówienia</h3>
        <ul class="order-items-list">
            <li *ngFor="let item of orderItems" class="order-item">
                <img [src]="'assets' + item.products.imagePath" alt="{{ item.products.productName }}" class="order-item-image" />
                <div class="order-item-details">
                    <h4>{{ item.products.productName }}</h4>
                    <p>Ilość: {{ item.orderItemQuantity }}</p>
                    <p>Cena produktu: {{ item.products.productPrice }} zł</p>
                    <p>Łączna cena produktu: {{ item.products.productPrice * item.orderItemQuantity }} zł</p>
                </div>
            </li>
        </ul>

        <div class="total-price">
            <h4>Łączna kwota: {{ totalAmount }} zł</h4> 
        </div>
    </div>

    <div class="text-center">
        <button (click)="goBack()" class="btn btn-primary mt-3 me-2">Powrót do sklepu</button>
        <button (click)="goProfile()" class="btn btn-primary mt-3 ms-2">Złożone zamówienia</button>
    </div>
</div>
