
<nav class="navbar navbar-expand-lg navbar-light bg-light ps-2">
    <a class="navbar-brand">ReOrderly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="">Pricing</a>
        </li>
        
      
      </ul>
      <!-- <span class="navbar-text">
        Navbar text with an inline element
      </span> -->
    </div>
    <div class="position-relative">
      <button class="btn btn-outline-primary me-2 ml-auto" routerLink="/cart" type="button">
          <i class="bi bi-cart-fill"></i>
          <span *ngIf="itemCount > 0" class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger">{{ itemCount }}</span>
      </button>
    </div>
    <button *ngIf="checkLoginForm()" class="btn btn-outline-success me-2 ml-auto" routerLink="/profil" type="button">
      Profil 
    </button>

    <button *ngIf="!checkLoginForm()" class="btn btn-outline-success me-2 ml-auto" (click)="checkLogin()" type="button">
      Zaloguj się 
    </button>

    <button *ngIf="checkLoginForm()" class="btn btn-outline-success me-2 ml-auto" (click)="logout()" type="button">
      Wyloguj
    </button>

    
  </nav>