
<nav class="navbar navbar-expand-lg navbar-light bg-light ps-2">
    <a class="navbar-brand">ReOrderly</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="">Produkty</a>
        </li>
                
      
      </ul>
      
    </div>

    <div class="position-relative">
      <button class="btn btn-outline-primary me-2 ml-auto" routerLink="/begin-subscription" type="button">
          <i class="bi bi-plus-circle"></i> 
          Subskrypcje
          <span *ngIf="itemCountSubscription > 0" class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger">{{ itemCountSubscription }}</span>
      </button>
  </div>  
    <div class="position-relative">
      <button class="btn btn-outline-primary me-2 ml-auto" routerLink="/cart" type="button">
          <i class="bi bi-cart-fill"></i>
          <span *ngIf="itemCount > 0" class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger">{{ itemCount }}</span>
      </button>
    </div>
    <button *ngIf="isLoggedIn" class="btn btn-outline-primary me-2 ml-auto" routerLink="/profil">Profil</button>
    <button *ngIf="isLoggedIn" class="btn btn-outline-primary me-2 ml-auto" (click)="logout()">Wyloguj</button>
    <button *ngIf="!isLoggedIn" class="btn btn-outline-primary me-2 ml-auto" routerLink="/login">Zaloguj</button>

    
  </nav>