<div class="subscriptions-section mt-5">
    <h3 class="text-center mb-4">Twoje Subskrypcje</h3>
    <div class="accordion" id="subscriptionsAccordion">
        <ng-container *ngFor="let subscription of subscriptions">
            <div class="accordion-item">
                <h2 class="accordion-header" [attr.id]="'heading' + subscription.orderSubscriptionId">
                    <button class="accordion-button" type="button" 
                            data-bs-toggle="collapse" 
                            [attr.data-bs-target]="'#collapse' + subscription.orderSubscriptionId" 
                            [attr.aria-expanded]="true" 
                            [attr.aria-controls]="'collapse' + subscription.orderSubscriptionId">
                        Subskrypcja #{{ subscription.orderSubscriptionId }} - Data zamówienia: {{ subscription.orderDate | date: 'dd/MM/yyyy' }} - Okres subskrypcji: {{ subscription.intervalDays }} dni
                    </button>
                </h2>
                <div [attr.id]="'collapse' + subscription.orderSubscriptionId" class="accordion-collapse collapse" 
                     [attr.aria-labelledby]="'heading' + subscription.orderSubscriptionId" 
                     data-bs-parent="#subscriptionsAccordion">
                    <div class="accordion-body">
                        <table class="table table-bordered table-striped table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Produkt</th>
                                    <th>Ilość</th>
                                    <th>Cena</th>
                                    <th>Okres subskrypcji</th>
                                    <th style="border: none;"></th> 
                                    <th style="border: none;"></th> 
                                </tr>
                            </thead>
                            <tbody>
                                
                                <ng-container *ngFor="let item of subscription.orderSubscriptionProducts">
                                    <tr>
                                        <td>{{ item.products.productName }}</td>
                                        <td>{{ item.productQuantity }}</td>
                                        <td>{{ item.products.productPrice | currency }}</td>
                                        <td>{{ subscription.intervalDays }} dni</td> 
                                        <td style="border: none;" (click)="onCancel(subscription.orderSubscriptionId)">
                                            <i class="bi bi-trash" ></i> <!-- Przycisk do anulowania -->
                                        </td>
                                        <td style="border: none;">
                                            <i class="fas fa-edit fa-lg text-primary" (click)="onEdit(subscription)"></i> <!-- Przycisk do edycji -->
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
