<div class="container mt-4">
    <h2 class="text-center mb-4">Koszyk</h2>
    <div *ngIf="items.length === 0" class="alert alert-info text-center">
        Koszyk jest pusty.
    </div>
    <div *ngFor="let item of items" class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4 d-flex align-items-center">
                <img [src]="'assets' + item.imagePath" class="img-fluid rounded-start" alt="{{ item.productName }}" />
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ item.productName }}</h5>
                    <p class="card-text">Cena: {{ item.productPrice }} zł</p>
                    <p class="card-text">Ilość w koszyku: {{ item.quantityToAdd }}</p> 
                    <div>
                        <button (click)="increaseQuantity(item)" class="btn btn-outline-primary btn-sm">+</button>
                        <button (click)="decreaseQuantity(item)" class="btn btn-outline-primary btn-sm">-</button>
                        <button (click)="removeFromCart(item)" class="btn btn-outline-danger btn-sm">x</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <button (click)="clearCart()" class="btn btn-danger my-3">Wyczyść koszyk</button>
    <button routerLink="/order-summary" class="btn btn-success my-3 ms-3">Przejdź do podsumowania zamówienia</button>

</div>
