<div class="container">
    <h1 class="text-center mt-4">Panel Administratora</h1>
  
    <div class="row">
      <div class="col-md-3">
        <ul class="list-group">
          <li class="list-group-item" routerLink="/admin/users">Użytkownicy</li>
          <li class="list-group-item" routerLink="/admin/products">Produkty</li>
          <li class="list-group-item" routerLink="/admin/orders">Zamówienia</li>
          <li class="list-group-item" routerLink="/admin/settings">Ustawienia</li>
        </ul>
      </div>
  
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  