
<div class="orders-section mt-5">
    <h3 class="text-center mb-4">Your Orders</h3>
    <table class="table table-bordered text-center">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Product</th>
          <th>Quantity</th>
          <th>Status</th>
          <th>Date</th>
          <th>Price</th>
        </tr>
      </thead>
      <!-- <tbody>
        
        <tr *ngFor="let order of orders">
          <td>{{ order.id }}</td>
          <td>{{ order.productName }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.status }}</td>
          <td>{{ order.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ order.price | currency }}</td>
        </tr>
      </tbody> -->
    </table>
  </div>
  aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  //TODO: kontynuacja dopiero po naprawie backendu. 