.accordion-body {
    background-color: #f8f9fa; 
}

.table {
    border-collapse: separate; 
    border-spacing: 0;
}

.table th,
.table td {
    border: 1px solid #dee2e6; 
}

.table th {
    background-color: #e9ecef; 
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1; 
}
.order-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}